flights/mule_flight.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="/" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="mu.mulesoft-training.com" port="80" basePath="essentials/united/flights" doc:name="HTTP Request Configuration"/>
    <flow name="mule_flightFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/hi" allowedMethods="GET" doc:name="HTTP"/>
        <choice tracking:enable-default-events="true" doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.query.params'.==null]">
                <flow-ref name="allflights" doc:name="allflights"/>
            </when>
            <when expression="#[message.inboundProperties.'http.query.params'!=null]">
                <flow-ref name="flightsfordestination" doc:name="flightsfordes"/>
            </when>
            <otherwise>
                <set-payload value="send correct reqest 
" doc:name="Set Payload"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="allflights">
        <http:request config-ref="HTTP_Request_Configuration" path="/" method="GET" doc:name="HTTP"/>
    </flow>
    <flow name="flightsfordestination">
        <http:request config-ref="HTTP_Request_Configuration" path="/{des}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="des" value="#[message.inboundProperties.'http.query.params'.des]"/>
            </http:request-builder>
        </http:request>
    </flow>
</mule>
